body {
  padding-top: 60px;
  padding-bottom:10px;
}

footer{
    padding-top:50px;
}
.center{
    text-align:center;
}
.jumbotron{
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 30px;

}
.logo{
    width:200px;
    height:200px;
    margin-bottom:20px;
}

hr{
    margin-top: 0px;
}

.point{
    padding-top:50px;
}

nav li:hover{
    color: #555;
    background-color: #E7E7E7;
}
#svg svg{
    margin-right:20px;
}
.help-inline{color:red;}

#search{width:400px;}

#loadImg{display:none}
#results{display:none}
#alert-error{display:none}
#success{display:none}
.message {
    padding: 2px 0;
    border-bottom: 1px solid #eee;
    position: relative;
    text-align: left;
    line-height: 15px;
    font-size: 13px;
}
.message span {
    width: 100%;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -1px;
}
.message p {
    display: inline-block;
    word-wrap: break-word;
    margin: 0px;
    width: 685px;
}
.message span.me {
    background: #E9EAEC;
}


